<template>
  <v-container>
     <h2>A cat's Facts'</h2>
    <v-row>
      <v-col
        cols="12"
        md="4"
        v-for="(fact,i) in facts"
        :key="i"
      >
        <card :fact=fact />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
// @ is an alias to /src
import Card from "@/components/Card.vue";
import axios from "axios";

export default {
  name: "Home",
  components: {
    Card
  },
  data: () => ({
    facts: [],
  }),
  async created() {
    var res = await axios.get("https://catfact.ninja/facts?limit=9");
    let factsRes=res.data.data;
    factsRes.forEach(fact => {
       this.facts.push(fact);
    });

    this.facts=this.orderAlphabetAtoZ(this.facts);
  },

  methods: {
     orderAlphabetAtoZ(array){
        return array.sort(
           (a, b) => a.fact.localeCompare(b.fact, 'es', { sensitivity: 'base' })
        );
     }
  },
};
</script>
