<template>
  <v-card
    color="#385F73"
    dark
  >
    <v-card-title class="text-h5">
      Fact Cat
    </v-card-title>

    <v-card-subtitle>{{fact.fact}}</v-card-subtitle>

    <v-card-actions>
      <v-btn text>
        Length: {{fact.length}}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "card",
  props: {
    fact: Object
  },
};
</script>

<style>
</style>